<form class="registration-form" [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
  <h3>Student Information</h3>
  <div formGroupName="student" class="form-group">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>First Name</mat-label>
      <input matInput placeholder="Enter first name" formControlName="firstName">
      <mat-error *ngIf="hasError('student', 'firstName', 'required')">First name is required</mat-error>
      <mat-error *ngIf="hasError('student', 'firstName', 'minlength')">First name must be at least 2 characters long</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Last Name</mat-label>
      <input matInput placeholder="Enter last name" formControlName="lastName">
      <mat-error *ngIf="hasError('student', 'lastName', 'required')">Last name is required</mat-error>
      <mat-error *ngIf="hasError('student', 'lastName', 'minlength')">Last name must be at least 2 characters long</mat-error>
    </mat-form-field>
 
    <mat-form-field appearance="outline">
      <mat-label>Birth Date</mat-label>
      <input matInput [matDatepicker]="picker" placeholder="MM/DD/YYYY" formControlName="birthDate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="hasError('student', 'birthDate', 'required')">Birth date is required</mat-error>
      
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Birth Place</mat-label>
      <input matInput placeholder="Enter birth place" formControlName="birthPlace">
      <mat-error *ngIf="hasError('student','birthPlace', 'required')">Birth place is required</mat-error>

    </mat-form-field>
    
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Nationality</mat-label>
      <input matInput placeholder="Nationality" formControlName="nationality">
    </mat-form-field>

    <!-- Gender Selection -->
    <h3>Gender</h3>
    <mat-radio-group formControlName="gender" class="gender-group">
      <mat-radio-button *ngFor="let gender of genders" [value]="gender">
        {{ gender }}
      </mat-radio-button>
    </mat-radio-group>
    <mat-error *ngIf="hasError('student', 'gender', 'required')">Please select a gender</mat-error>
  
     <!-- Address Section -->
  <h3>Address</h3>
  <div formGroupName="address">

    <mat-form-field appearance="outline">
      <mat-label>Street</mat-label>
      <input matInput placeholder="Street" formControlName="street">
      <mat-error *ngIf="hasError('student.address', 'street', 'required')">Street is required</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>House Number</mat-label>
    <input matInput placeholder="Hausnummer" formControlName="houseNumber">
    <mat-error *ngIf="hasError('student.address','houseNumber' ,'required')">House number is required</mat-error>
   </mat-form-field>

   <mat-form-field appearance="outline">
    <mat-label>City</mat-label>
  <input matInput placeholder="city" formControlName="city">
  <mat-error *ngIf="hasError('student.address','city' ,'required')">House number is required</mat-error>
 </mat-form-field>
   
   <mat-form-field appearance="outline">
    <mat-label>Postal Code </mat-label>
    <input matInput placeholder="Postal Code" formControlName="postalCode">
    <mat-error *ngIf="hasError('student.address','postalCode', 'required')">Postal code is required</mat-error>
    <mat-error *ngIf="hasError('student.address','postalCode', 'pattern')">Postal code must be a 5-digit number</mat-error>
  </mat-form-field>
  </div>
  
  </div>

 

  <!-- Guardian Information -->
  <h3>Guardian Information</h3>
  <div class="form-group" formGroupName="guardian">
    <mat-form-field appearance="outline" >
      <mat-label>First Name</mat-label>
      <input matInput placeholder="Enter first name" formControlName="firstName">
      <mat-error *ngIf="hasError('guardian', 'firstName', 'required')">First name is required</mat-error>
      <mat-error *ngIf="hasError('guardian', 'firstName', 'minlength')">First name must be at least 2 characters long</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" >
      <mat-label>Last Name</mat-label>
      <input matInput placeholder="Enter last name" formControlName="lastName">
      <mat-error *ngIf="hasError('guardian', 'lastName', 'required')">Last name is required</mat-error>
      <mat-error *ngIf="hasError('guardian', 'lastName', 'minlength')">Last name must be at least 2 characters long</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" >
      <mat-label>Country</mat-label>
      <input matInput placeholder="Enter Country" formControlName="country">
      <mat-error *ngIf="hasError('guardian', 'country', 'required')">Country is required</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" >
      <mat-label>Email</mat-label>
      <input matInput placeholder="Enter Email" formControlName="email">
      <mat-error *ngIf="hasError('guardian', 'email', 'required')">Email is required</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" >
      <mat-label>Mobile</mat-label>
      <input matInput placeholder="Enter Mobile" formControlName="mobile">
      <mat-error *ngIf="hasError('guardian', 'mobile', 'required')">Mobile is required</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" >
      <mat-label>Phone</mat-label>
      <input matInput placeholder="Enter Phone" formControlName="phone">
      <mat-error *ngIf="hasError('guardian', 'phone', 'required')">Phone is required</mat-error>
    </mat-form-field>
  </div>

  
  <!-- Consent Section -->
  <h3>Consent</h3>
  <mat-checkbox formControlName="consentActivities">Agree to extracurricular activities.</mat-checkbox>
  <mat-error *ngIf="hasError('', 'consentActivities', 'requiredTrue')">You must agree to this consent</mat-error>
  <mat-checkbox formControlName="consentDataProcessing">Agree to data processing.</mat-checkbox>
  <mat-error *ngIf="hasError('', 'consentDataProcessing', 'requiredTrue')">You must agree to this consent</mat-error>

  <h3>Documents Upload</h3>
  <div class="file-upload-group" formGroupName="documents">
    <!-- Birth Certificate Upload -->
  <label for="birthCertificate" class="file-upload-label">Birth Certificate</label>
  <input id="birthCertificate" type="file" (change)="onFileSelected($event, 'birthCertificate')" class="file-upload-input">
  <!-- Medical Certificate Upload -->
  <label for="medicalCertificate" class="file-upload-label">Medical Certificate</label>
  <input id="medicalCertificate" type="file" (change)="onFileSelected($event, 'medicalCertificate')" class="file-upload-input">

  <!-- School Report Upload -->
  <label for="schoolReport" class="file-upload-label">School Report</label>
  <input id="schoolReport" type="file" (change)="onFileSelected($event, 'schoolReport')" class="file-upload-input">

  </div>

  <div class="button-container">
    <button mat-raised-button color="primary" type="submit">Submit</button>
  </div>
</form>
