<form class="registration-form" [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
  <!-- 1. Student Information -->
  <h3>Student informationen</h3>
  <div class="form-group">

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Vorname</mat-label>
      <input matInput placeholder="Enter first name" formControlName="firstName">
      <!-- Error messages -->
      <mat-error *ngIf="hasError('firstName', 'required')">First name is required</mat-error>
      <mat-error *ngIf="hasError('firstName', 'minlength')">First name must be at least 2 characters long</mat-error>
      
    </mat-form-field>
    
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Lastname</mat-label>
      <input matInput placeholder="Enter last name" formControlName="lastName">
      <mat-error *ngIf="hasError('lastName', 'required')">Last name is required</mat-error>
      <mat-error *ngIf="hasError('lastName', 'minlength')">Last name must be at least 2 characters long</mat-error>

    </mat-form-field>

    <mat-form-field appearance="outline" >
      <mat-label>Geburtsdatum</mat-label>
      <input matInput [matDatepicker]="picker" placeholder="MM/DD/YYYY" formControlName="birthDate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="hasError('birthDate', 'required')">Birth date is required</mat-error>

    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Birth place</mat-label>
      <input matInput placeholder="Enter birth place" formControlName="birthPlace">
      <mat-error *ngIf="hasError('birthPlace', 'required')">Birth place is required</mat-error>

    </mat-form-field>
  </div>

  <!-- Gender Selection -->
  <div class="form-group">
    <mat-radio-group formControlName="gender" class="gender-group">
      <mat-label>Gender</mat-label>
      <mat-radio-button value="male">Männlich</mat-radio-button>
      <mat-radio-button value="female">Weiblich</mat-radio-button>
      <mat-radio-button value="diverse">Divers</mat-radio-button>
    </mat-radio-group>
    <mat-error *ngIf="hasError('gender', 'required')">Please select gender</mat-error>

  </div>
  <div class="form-group">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Nationality</mat-label>
      <input matInput placeholder="Nationality" formControlName="nationality">
    </mat-form-field>
  </div>

 <!-- Address Section -->
 <h3>Adresse</h3>
 <div class="form-group">
  
  <mat-form-field appearance="outline">
    <mat-label>Street</mat-label>
     <input matInput placeholder="Straße" formControlName="street">
     <mat-error *ngIf="hasError('street', 'required')">Street is required</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>House No.</mat-label>
    <input matInput placeholder="Hausnummer" formControlName="houseNumber">
    <mat-error *ngIf="hasError('houseNumber', 'required')">House number is required</mat-error>
 
  </mat-form-field> 

  <mat-form-field appearance="outline">
    <mat-label>Zip-code </mat-label>
    <input matInput placeholder="Postleitzahl" formControlName="postalCode">
    <mat-error *ngIf="hasError('postalCode', 'required')">Postal code is required</mat-error>
    <mat-error *ngIf="hasError('postalCode', 'pattern')">Postal code must be a 5-digit number</mat-error>

  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>City</mat-label>
    <input matInput placeholder="Stadt" formControlName="city">
    <mat-error *ngIf="hasError('city', 'required')">City is required</mat-error>

  </mat-form-field>
  </div>


  <!-- Additional sections for Guardian Info, Emergency Contact, Medical Info, etc. -->

  <h3>Documents Upload</h3>

<div class="file-upload-group">
  <!-- Birth Certificate Upload -->
  <label for="birthCertificate" class="file-upload-label">Birth Certificate</label>
  <input id="birthCertificate" type="file" (change)="onFileSelected($event, 'birthCertificate')" class="file-upload-input">

  <!-- Medical Certificate Upload -->
  <label for="medicalCertificate" class="file-upload-label">Medical Certificate</label>
  <input id="medicalCertificate" type="file" (change)="onFileSelected($event, 'medicalCertificate')" class="file-upload-input">

  <!-- School Report Upload -->
  <label for="schoolReport" class="file-upload-label">School Report</label>
  <input id="schoolReport" type="file" (change)="onFileSelected($event, 'schoolReport')" class="file-upload-input">
</div>

  <!-- Consent Section -->
  <h3>Einwilligungen</h3>
  <mat-checkbox formControlName="consentActivities">Ich stimme der Teilnahme meines Kindes an außerschulischen Aktivitäten zu.</mat-checkbox>
  <mat-error *ngIf="hasError('consentActivities', 'requiredTrue')">You must agree to this consent</mat-error>

  <mat-checkbox formControlName="consentDataProcessing">Ich stimme der Verarbeitung der personenbezogenen Daten zu.</mat-checkbox>
  <mat-error *ngIf="hasError('consentDataProcessing', 'requiredTrue')">You must agree to this consent</mat-error>

    <!-- Submit Button -->
    <div class="button-container">
      <button mat-raised-button color="primary" type="submit">Absenden</button>
    </div>
</form>





