<div *ngIf="!student" class="loading-container">
  <mat-spinner></mat-spinner>
  <p>Loading student details...</p>
</div>

<div *ngIf="student" class="student-details-container mat-elevation-z8">
  <!-- Profile Picture Section -->
  <div class="profile-picture-section">
    <img 
      [src]="profilePictureUrl || 'assets/images/default_profile.png'" 
      alt="Profile Picture" 
      class="profile-picture">
    <div>
      <button mat-stroked-button color="primary" (click)="document.getElementById('upload-button').click()">Change Picture</button>
      <input type="file" (change)="onProfilePictureChange($event)" accept="image/*" hidden id="upload-button">
    </div>
  </div>

  <!-- Student Information Section -->
  <div class="student-info-section">
    <h2>{{ student.firstName }} {{ student.lastName }}</h2>
    <mat-divider></mat-divider>
    <p><strong>Date of Birth:</strong> {{ student.birthDate }}</p>
    <p><strong>Place of Birth:</strong> {{ student.birthPlace}}</p>
    <p><strong>Gender:</strong> {{ student.gender }}</p>
     <p><strong>Matriculation Number:</strong> {{ student.matNumber }}</p>
  
  </div>

  <!-- Address Section -->
  <div class="address-section">
    <h3>Address</h3>
    <mat-divider></mat-divider>
    <p><strong>Country</strong> {{ student.addressResponseDto.country }}</p>
    <p><strong>City:</strong> {{ student.addressResponseDto.city }}</p>
    <p><strong>Postal Code:</strong> {{ student.addressResponseDto.postalCode }}</p>
    <p><strong>Street:</strong> {{ student.addressResponseDto.street }}, {{ student.addressResponseDto.streetNumber }}</p>

  </div>

  <!-- Academic Information Section -->
  <div class="academic-info-section">
    <h3>Academic Information</h3>
    <mat-divider></mat-divider>
    <p><strong>Matriculation Number:</strong> {{ student.matNumber }}</p>

    <div>
      <p><strong>Teachers:</strong></p>
      <mat-list>
        <mat-list-item *ngFor="let teacher of student.teachers">
          <mat-icon mat-list-icon>person</mat-icon>
          <span mat-line>{{ teacher.firstName }} {{ teacher.lastName }}</span>
          <!-- <span mat-line class="secondary-text">{{ teacher.subject }}</span> -->
        </mat-list-item>
      </mat-list>
    </div>


    <div class="class-section">
      <h3>Classe</h3>
      <mat-divider></mat-divider>
      <p><strong>Classename: </strong> {{ student.classeResponseDto.name}}</p>
      <p><strong>Classe Discription:</strong> {{ student.classeResponseDto.description }}</p>
 
    </div>   

    <div>
      <p><strong>Courses:</strong></p>
      <mat-list>
         <mat-list-item *ngFor="let course of student.courseResponseDtos">
          <mat-icon mat-list-icon>book</mat-icon>
          <span mat-line>{{ course.name }}</span>
           <span mat-line class="secondary-text">{{ course.description }}</span> 
                  </mat-list-item> 
      </mat-list>
    </div>
  </div>

  <!-- Guardian Information Section -->
  <div class="guardian-info-section">
    <h3>Guardians</h3>
    <mat-divider></mat-divider>
    <div *ngFor="let guardian of student.guardianResponseDtos" class="guardian">
      <p><strong>Name:</strong> {{ guardian.firstName }} {{ guardian.lastName }}</p>
      <p><strong>Gender:</strong> {{ guardian.gender }}</p>
      <p><strong>Relationship:</strong> {{ guardian.relationship }}</p>
      <p><strong>Country:</strong> {{ guardian.country }}</p>
      <p><strong>CommunicationType:</strong> {{ guardian.communicationType }}</p>
      <p><strong>contactLevel:</strong> {{ guardian.contactLevel }}</p>
      <p><strong>Phone:</strong> {{ guardian.phone }}</p>
      <p><strong>Mobile:</strong> {{ guardian.mobile }}</p>
      <p><strong>Email:</strong> {{ guardian.email }}</p>
    </div> 
  </div>

  <!-- Actions -->
  <div class="actions">
    <button mat-raised-button color="primary" routerLink="/students">Back to List</button>
    <button mat-raised-button color="accent" (click)="editStudent()">Edit Student</button>
  </div>
</div>
