<div class="student-list-container">
  <h2>Student Management</h2>
  <mat-toolbar color="primary" class="toolbar">
    <div class="toolbar-buttons">
      <button mat-raised-button color="accent" [routerLink]="['/students/registration']">
        <mat-icon>person_add</mat-icon> Register Student
      </button>
    </div>
    <span class="spacer"></span>
    <button class="addColumn" mat-raised-button color="accent" (click)="addColumn()">Add Column</button>
    <button mat-raised-button color="warn" (click)="removeColumn()">Remove Column</button>
  </mat-toolbar>

  <div class="table-container">
    <mat-table [dataSource]="students" matSort (matSortChange)="onSortChange($event)" class="mat-elevation-z8">

      <!-- Dynamically Rendered Columns -->
      <ng-container *ngFor="let column of columnsToDisplayWithoutActions" [matColumnDef]="column">
        <mat-header-cell *matHeaderCellDef class="sticky-header">{{ columnNames[column] }}</mat-header-cell>
        <mat-cell *matCellDef="let student"> {{ student[column] }}</mat-cell>
      </ng-container>

      <!-- Actions Column (Explicit) -->
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
        <mat-cell *matCellDef="let student">
          <button mat-icon-button color="primary" (click)="openEditStudentModal(student)" matTooltip="Edit">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="confirmDeleteStudent(student.id)" matTooltip="Delete">
            <mat-icon>delete</mat-icon>
          </button>
          <button mat-icon-button color="accent" (click)="viewStudentDetails(student.id)" matTooltip="View">
            <mat-icon>visibility</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
      <mat-row *matRowDef="let row; columns: columnsToDisplay"></mat-row>
    </mat-table>
  </div>

  <mat-paginator [length]="totalStudents" [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
    (page)="onPageChange($event)">
  </mat-paginator>
</div>